.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  text-align: center;
  position: relative;
}

.name {
  height: 48px;
}

.ingredient-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.ingredient__price {
  justify-content: center;
}
