.feed-container {
  display: flex;
}

.orders-readiness-display {
  width: 584px;
  height: 400px;
}

.order-numbers-container {
  display: flex;
}

.done-orders {
  width: 272px;
}

.done-orders-color {
  color: rgba(0, 204, 204, 1);
}
