.profile-container {
  display: flex;
}

.profile-input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
}

.buttons-container {
  display: flex;
}
