.info-container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.image-large {
  width: 480px;
  height: 240px;
  margin: 0 auto;
}
