.ingredients-container {
  max-width: 600px;
}

.tabs {
  display: flex;
}

.ingredients-scrollable {
  scroll-behavior: smooth;
  height: 500px;
  overflow-y: auto;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.list-item {
  list-style-type: none;
}

.list-item:last-of-type div {
  margin-bottom: 0;
}
